 #navigationItems {
    overflow: hidden;
    transition: height 0.3s ease-out;

    @media (max-width: 580px) {
        ul {
            padding: 1rem;
            padding-top: 0;
            text-decoration: none;
            list-style: none;
            li {
                border-bottom: 1px solid rgba($color: gray, $alpha: .5);
                padding: 1rem;
                padding-left: 0.5rem;
                font-size: 1.1rem;

                img {
                    height:     32px;
                    width:      32px;
                    margin-right: 1.5rem;
                } 

                a {
                    text-decoration: none;
                    list-style: none;
                    color: black;
                    padding-right: 5rem;
                    :active {
                        color: blue;
                    }
                }

                :hover {
                    color: blue;
                    font-weight: bold;
                }
            }

            li:last-child {
                border: 0;
            }
        }
    }
    @media (min-width: 580px) {
        display: none;
    }
    .nav-active {
        color: darkblue;
        text-decoration: underline;
    }
}

#navigationItemsDesktop {
    display: none;
    width: 100%;

    @media (min-width: 580px) {
        display: flex;
    }
    @media (min-width: 980px) {
        justify-content: center;
    }
    
    ul {
        margin: 0;
        padding-top: 0.2rem;

        li {
            display: inline;
            font-size: 1.1rem;
            list-style-type: none;
            margin-right: 1.5rem;

            a {
                display: none;
                @media (min-width: 980px) {
                    display: inline;
                }
            }
            img {
                height:     32px;
                width:      32px;
            } 
        }

        li:hover {
            color: blue;
        }
    }

    .nav-active {
        color: darkblue;
        text-decoration: underline;
    }
}
